# Copy to .htpasswd or use HTACCESS_USERNAME/PASSWORD env vars
# Generate: docker run --rm httpd:2.4-alpine htpasswd -nbB username password
admin:$2y$05$nX/F86H76vP4UF888Li90umjEjJecSJyNZFUd/c73Agz5WkmIQuY.
